{% extends 'base.html' %}

{% block title %}Pet Info{% endblock %}

{% block body %}
<div class="container m-4 p-4">
    <a href="/" class="btn btn-sm btn-secondary">< Back</a>
    <h1>{{pet.name}}</h1>
    {% if pet.photo_url != None %}
        <img class="img-thumbnail bg-dark" src="{{pet.photo_url}}" alt="Picture of {{pet.name}}" style="width: 200px; height:200px;">
    {% endif %}

    <p><b>Species</b>: {{pet.species}}</p>
    {% if pet.age != None %}
        <p><b>Age</b>: {{pet.age}}</p>
    {% endif %}

    <hr>

    <h1>Edit pet information</h1>
    <form id="pet-edit-form" method="POST">
        {% include '_form.html' %}
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}